body {
  font-family: 'Arial';
  background: #f5f7fb;
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.title {
  margin: 20px;
}

/* 카드 그리드 */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 10px;
}

/* 카드 */
.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  color: black;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
}

.card h2 {
  padding: 15px;
}

/* 퀴즈 */
.quiz-box {
  margin-top: 80px;
}

button {
  width: 85%;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  border: none;
  background: #4a6cf7;
  color: white;
  font-size: 16px;
}

/* 결과 */
.result-box {
  margin-top: 80px;
}
