body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background: radial-gradient(circle,#3a0ca3,#4361ee,#f72585);
}

.grid {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.quiz-box, .result-card {
  max-width: 500px;
  margin: 80px auto;
  background: rgba(0,0,0,0.6);
  padding: 30px;
  border-radius: 20px;
}

button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
}
.retry-btn {
  display: block;
  margin-top: 20px;
  padding: 14px;
  text-align: center;
  border-radius: 12px;
  background: linear-gradient(45deg,#7b5cff,#3ecbff);
  color: white;
  text-decoration: none;
  font-weight: bold;
}
